<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bank.dao.BankCardDao">

	<!-- 查询银行卡信息 -->
	<select id="cardInfo" parameterType="String" resultType="Map">
		select * from bankcard where ownerIDCard=#{ownerIDCard}
	</select>
	
	<select id="searchMoney" parameterType="String" resultType="BankCard">
		select * from bankcard where cardid=#{cardid}
	</select>
	
	<update id="costMoneyInCard" parameterType="org.bank.pojo.BankCard">
		update bankcard set money=#{money} where cardid=#{cardid}
	</update>
	
	<select id="checkTrasfer" parameterType="Map" resultType="org.bank.pojo.BankCard">
		select * from bankcard where cardid=#{cardid} and owner=#{owner}
	</select>
	
	<update id="lostCard" parameterType="String">
		update bankcard set isLive="false" where cardid=#{cardid}
	</update>
	
	<select id="cmoney" parameterType="String" resultType="org.bank.pojo.BankCard">
	   select money from bankcard where  cardid=#{cardid}
	</select>
	
	<insert id="createCard" parameterType="org.bank.pojo.BankCard">
		insert into bankcard(cardid,owner,password,type,ownerIDCard,money,isLive,isNew,registDate) value(#{cardid},#{owner},#{password},#{type},#{ownerIDCard},#{money},#{isLive},#{isNew},#{registDate})
	</insert>
	
	<select id="isHaveCard" parameterType="org.bank.pojo.BankCard" resultType="Map">
		select * from bankcard where ownerIDCard=#{ownerIDCard} and type=#{type}
	</select>
	<update id="missCard" parameterType="String">
		update bankcard set isNew="1", isLive="true" where cardid=#{cardid}
	</update>
	
</mapper>