<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bank.dao.UserDao">
	<!-- 登录 -->
	<select id="login" parameterType="org.bank.pojo.User"
		resultType="org.bank.pojo.User">
		select * from user where name=#{name} and
		password=#{password}
	</select>
	<!-- 注册 -->
	<insert id="touser" parameterType="org.bank.pojo.User">
		insert into user(name,password,time) value(#{name},#{password},#{time})
	</insert>
	<!-- 开户状态查询 -->
	<select id="khcx" parameterType="String" resultType="org.bank.pojo.User">
		select * from user where name=#{name}
	</select>
	<!-- 开户信息更新 -->
	<update id="upkh" parameterType="org.bank.pojo.User">
		update user set sf=#{sf},t3=#{t3},t1=#{t1},
		t2=#{t2},phone=#{phone},address=#{address},email=#{email},names=#{names}
		where name=#{name}
	</update>
	<!-- 开户信息查询 -->
	<select id="khxx" parameterType="String" resultType="List">
		select * from user where name=#{name} t4=#{t4}
	</select>
	<!-- ka -->
	<select id="kcx" parameterType="org.bank.pojo.User" resultType="org.bank.pojo.User">
		select * from user where name=#{name} and t4=#{t4}
	</select>
	<!-- 个人信息修改 -->
	<update id="upxx" parameterType="org.bank.pojo.User">
		update user set name=#{name}, sf=#{sf},
		phone=#{phone},address=#{address},email=#{email},birthday=#{birthday},names=#{names}
		where id=#{id}
	</update>
	<update id="uppw" parameterType="org.bank.pojo.User">
		update user set password=#{password} where id=#{id}
	</update>
	<select id="cxye" parameterType="String" resultType="org.bank.pojo.User">
		select * from user where name=#{name}
	</select>
	<!-- 充值 -->
	<update id="cz" parameterType="org.bank.pojo.User">
		update user set money=#{money}, t5=#{t5} where name=#{name}
	</update>
	
	
	<update id="upzz" parameterType="Map">
	    update user set money=#{money} ,t3=#{t3}   where names=#{names}
	</update>
	
	<!-- admin -->
	<!-- 用户管理 -->
	<select id="yh" parameterType="org.bank.pojo.User" resultType="Map">
	select * from user 
	<if test="names != null">
	where names like "%"#{names}"%"
	</if>
	 
	
	</select>
	
	<select id="selectCount" resultType="int">
	select count(*) from user
	</select>
	
	<!-- 用户删除 -->
	<delete id="scyh" parameterType="int">
	delete from user where id=#{id}
	</delete>
	
	<!-- 卡片查询 -->
	<select id="kp" parameterType="org.bank.pojo.BankCard" resultType="Map">
	
		select * from bankcard  INNER JOIN user  where bankcard.ownerIDCard=user.sf   and bankcard.isLive=#{isLive}
		<if test="owner != null">
	and bankcard.owner like "%"#{owner}"%"
	</if>
	</select>
	<!-- 注销 -->
	<update id="zxkp" parameterType="int">
	update user set t1=0, t4=0 where id=#{id}
	</update>
	
	<select id="sh" resultType="Map">
	select * from user where t1=0 and t4=0
	</select>
	<!-- 卡片审核 -->
	<update id="kpsh" parameterType="int">
	update user set t1=1, t4=1 where id=#{id}
	</update>
	
	<select id="searchID" parameterType="String" resultType="org.bank.pojo.BankCard">
	select * from user where name=#{name}
	</select>
	
</mapper>